body {
    --edge: 70px;
    --frameworkColor: rgb(230, 230, 252);
    --libraryColor: rgb(252, 221, 221);
    --toolColor: rgb(194, 255, 194);
}

.table-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(18, var(--edge));
    grid-template-rows: repeat(6, calc(var(--edge) * 1.2));
    grid-auto-flow: column;
}

.legend {
    grid-column: 3/13;
    grid-row: 1/4;
    padding: 10px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.tech-element-container {
    border: 1px solid purple;
    padding: 3px;
}

.tech-element-container:nth-child(7) {
    grid-row: 2/3;
}

.tech-element-container:nth-child(42) {
    grid-row: 2/3;
}

.tech-element-container:nth-child(47) {
    grid-row: 2/3;
}

.tech-element-container:nth-child(52) {
    grid-row: 2/3;
}

.tech-element-container:nth-child(57) {
    grid-row: 2/3;
}

.tech-element-container:nth-child(62) {
    grid-row: 2/3;
}

.tech-element-container > span > h1 {
    display: inline;
    font-size: 30px;
    font-family: Arial;
}

.tech-element-container > span > svg {
    width: 15px;
    float: right;
}

.tech-element-container > div > {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-element-container > div > h2 {
    display: flex;
    justify-content: center;
    font-size: 11px;
}

.tech-element-container > div > p {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 9px
}

.tech-element-container > div > p > svg {
    width: 9px;
    height: 9px;
}

.tech-element-container[type="framework"] {
    background: var(--frameworkColor);
}

.tech-element-container[type="library"] {
    background: var(--libraryColor);
}

.tech-element-container[type="tool"] {
    background: var(--toolColor);
}

.ember > span > svg {
    width: 25px;
}

.legend > div {
    display: flex;
    align-items: center;
    padding: 10px;
}

.legend > div > span {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.legend > div[framework] > span {
    background: var(--frameworkColor);
}

.legend > div[library] > span {
    background: var(--libraryColor);
}

.legend > div[tool] > span {
    background: var(--toolColor);
}


